<div class="footer">
  <div class="social">
    <a href="www.linkedin.com/in/ramesh-kumar001"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://github.com/ramesshcoder"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://wa.me/919005406351">
      <i class="fa-brands fa-whatsapp"></i
    ></a>
  </div>
  <ul class="list">
    <li>
      <a href="https://colorwhistle.com/faq-on-website-development/">FAQs</a>
    </li>
    
    <li>
      <a href="#about">About me</a>
    </li>
    <li>
      <a href="#contact">contact</a>
    </li>
    <li>
      <a href="https://policies.google.com/privacy?hl=en-GB">privacy policy</a>
    </li>
  </ul>
  <p class="copyright">©️ 2025 Ramesh | All rights Reserved</p>
</div>
