.footer{
    position:relative;
    bottom: 0;
    width: 100%;
    padding: 40px 
    0;
    background-color: black
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{

    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered,0 0  10px orangered ;
    transform: 0.3s ease;
}
.footer .social a:hover{transform: scale(1.2) translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
    
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
     
}
/*            responsive styling */
@media (max-width: 600px) {
  .footer .social a {
    margin: 0 0.6em;
    font-size: 20px;
  }

  .footer .list {
    flex-direction: column;
    gap: 0.8em;
  }

  .footer .list li a {
    font-size: 16px;
  }

  .footer .copyright {
    font-size: 13px;
  }
}
