<div class="about">
   <div class="image-container"><img src="https://i.postimg.cc/RF2CZPH4/IMG-20250606-WA0065.jpg" alt="" ></div>
    <div class="about-content">
        <h2 class="heading  ">About<span>  Me</span></h2>
        <h3>Website <span>Developer</span></h3>
        <p>I'm Ramesh Kumar, a self-driven B.Tech Computer Science graduate (2025) with a passion for web development. I specialize in building responsive, user-friendly web applications and have gained hands-on experience through academic and personal projects, enhancing my coding, problem-solving, and design skills. I'm seeking full-time opportunities where I can learn, collaborate, and contribute meaningfully. Outside of tech, I enjoy reading self-improvement books and exploring tech vlogs. 

</p>
        <a href="" class="btn">Experience</a>
    </div>

</div>