*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    
}
html {
  scroll-behavior: smooth;
}

span{
    color: orangered;
}
::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-thumb{
   background-color:  orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0, 0, 0.6);
  
}