<div class="main">
  <div class="home-content">
    <h3>Hi!</h3>
    <h1>
      I am <span >Ramesh</span><br />web developer aspirant
    </h1>
    <p>
    🎓 CSE Graduate | 🌐 Web Developer | Turning ideas into interactive, responsive web experiences. Passionate about clean code, great UI, and continuous learning.
    </p>
    <div class="btn-box">
      <button class="btn-1">Experience</button>
      <button class="btn-2">Hire me</button>
    </div>
  </div>
  <div class="img-box">
    <img src="https://i.postimg.cc/VLGddYTN/erasebg-transformed.png">
  </div>
</div>
<app-about></app-about>
<app-contact></app-contact>


