<div class="main">
  <div class="home-content">
    <h3>Hi!</h3>
    <h1>
      I am <span >Ramesh</span><br />web developer aspirant
    </h1>
    <p>
    🎓 CSE Graduate | 🌐 Web Developer | Turning ideas into interactive, responsive web experiences. Passionate about clean code, great UI, and continuous learning.
    </p>
    <div class="btn-box">
      <button class="btn-1">Experience</button>
      <button class="btn-2">Hire me</button>
    </div>
  </div>
  <div class="img-box">
    <img src="https://i.postimg.cc/VLGddYTN/erasebg-transformed.png">
  </div>
</div>
<div class="about">
   <div class="image-container"><img src="https://i.postimg.cc/RF2CZPH4/IMG-20250606-WA0065.jpg" alt="" ></div>
    <div class="about-content">
        <h2 class="heading  ">About<span>  Me</span></h2>
        <h3>Frontend <span>Developer</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quos dicta repellendus tenetur magnam blanditiis fugiat aperiam delectus, dolorem veritatis, quibusdam mollitia, accusamus numquam nihil quo! Rerum ipsum ea tenetur nobis asperiores eaque dicta ipsam adipisci, fugiat nemo illum modi, sapiente maiores aliquid expedita repellendus reiciendis inventore, amet magni incidunt!</p>
        <a href="" class="btn">Experience</a>
    </div>

</div>

